
  .dashboard {
    background-color: white;
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-top: 0;
    text-align: center;
  }
  
  .metrics {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    line-height: 2rem;
    gap: 40px;
    margin-bottom: 20px;
  }
  
  .metric {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    gap: 20px;
    width: 250px;
  }
  
  .metric h2 {
    margin: 0 0 10px;
    font-size: 18px;
  }
  
  .metric p {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .buttons {
    margin-bottom: 20px;
  }
  
  .buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: green;
    font-family: cursive;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    cursor: pointer;
  }
  .view{
    background-color: green;
    color: white;
    font-family: cursive;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
  }
  .view:hover{
    background-color: #0056b3;
  }
  .buttons button:hover {
    background-color: #0056b3;
  }
  
  .content {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  table th {
    background-color: #f4f4f4;
  }